@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@500&family=Poppins:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Poppins&display=swap');


@media screen and (max-width: 768px) {
  .top-nav {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
  }
}

body {
  margin: 0 auto !important;
  padding: 0 auto !important;
  max-width: 1920px !important;
  width: 100vw !important;
}
h1{
  font-size: 40px;
  font-weight: 700;
}
h2{
    font-size: 40px;
    font-weight: 700;
  }
h3{
    font-size: 40px;
    font-weight: 700;
  }
h4{
    font-size: 40px;
    font-weight: 700;
  }
h1,
h2,
h3,
h4,
h5 {
  font-family: "pacifico" !important;
  color: #38d4ff !important;
}

p {
  font-family: "montserrat" !important;
  font-size: 16px;
  font-weight: 400;
}

.logo img {
  height: 30px;
}


.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-collapse {
  text-align: center;
  align-items: center;
}

.navbar-collapse .dropdown-menu {
  text-align: center;
  align-items: center;
}

.navbar-toggler {
  box-shadow: none !important;
}

.btn-brand {
  border-color: skyblue !important;
  background-color: skyblue !important;
  color: #fff;
}

.btn-link {
  padding: 1px 5px !important;
}

ul li {
  font-size: 16px;
  font-weight: 500;
  font-family: "poppins";
}

.about-us {
  margin-top: 25px !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;}

.parallax {
  position: relative;
  max-width: 100%;
  height: 400px;
  background-image: url(https://via.placeholder.com/1200x500);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.parallax.wrapper.row {
  margin-top: 25px;
}

.parallax h3 {
  position: absolute;
  font-family: "kalam" !important;
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 24px !important;
  font-weight: 600 !important;
  color: azure;
}

.services {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 70%;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.card-wrapper .card {
  width: 18rem;
  margin: 10px;
}

.card-wrapper .card h4 {
  font-family: "kalam";
  font-size: 24px;
  font-weight: 600;
}

.card-wrapper .card p {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
}

@media screen and(max-width: 600px) {
  .card:not(:first-child) {
    display: none;
  }
}

@media screen and(max-width: 598px) {
  .card:not(:first-child) {
    display: flex;
  }
}

.effect:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.effect:hover:before {
  transform: scale(2.15);
}

.parallax-t {
  margin-top: 20px;
  position: relative;
  width: 100%;
  background-image: url(https://via.placeholder.com/1200x500);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.footer-logo {
  filter: invert(100%);
}

.footer-logo a img {
  height: 50px !important;
}

/* about */
.wow {
  width: 100%;
  background-image: url(https://via.placeholder.com/1200x500);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.footer-col-1 {
  text-align: center;
  justify-content: center;
}

.text-primary- {
  color: #ff6f0f !important;
}

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

@media (min-width: 768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem dotted #3b82f6;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }

  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem dotted #3b82f6;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6;
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: 0.5;
}

/* contect-Us */
.g-map {
  height: 450px;
}

.btn-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}

/* Product */
.card.col-mb-4.review {
  width: 18rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: deepskyblue !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #198754 !important;
  border-color: #198754 !important;
}
.btn-primary {
  color: #fff;
  background-color: deepskyblue !important;
  border-color: skyblue !important;
}

/* sign-in/sign-up */
.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}
.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}

/* blog-page */
a.post-title {
  text-decoration: none;
}
a.post-author {
  text-decoration: none;
}
a.post-date {
  text-decoration: none;
}
ul li a {
  text-decoration: none;
  color: skyblue;
}
.news-content a {
  text-decoration: none;
}
.news-content span {
  font-size: 10px;
  color: #ffffff;
  background-color: #38d4ff;
  padding: 3px 15px;
  border-radius: 30px;
  display: inline-block;
 
}
.blog-content span {
    font-size: 10px;
    color: #ffffff;
    background-color: #38d4ff;
    padding: 3px 5px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 3px;

  }
  .single-blog-area .blog-content .post-title {
    display: block;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
    color: #212121;
  }
  .single-news-area .news-content a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    
  }
  #message{
    height: 150px
  }
  /* service-page */
  

  /* Resource */
